<!DOCTYPE>
<html>
<head>
  <title>智能宿舍</title>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/views/admin/js/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/views/admin/dist/css/bootstrapValidator.css">
  <link rel="stylesheet" href="/views/admin/css/custom-styles.css">
  <link rel="stylesheet" href="/assets/admin/vendor.css">
  <link rel="stylesheet" href="/assets/admin/main.css">
  <script src="/views/admin/js/jquery/jquery-1.10.2.min.js"></script>
  <script src="/views/admin/js/bootstrap/js/bootstrap.min.js"></script>
  <script src="/views/admin/js/dist/js/bootstrapValidator.js"></script>
  <script src="/views/admin/js/echarts.js"></script>
</head>
