  </div>
</div>
<div class="nav navbar-fixed-bottom clear-bottom-margin">
  <div class="container text-center text-muted">
    <small>Powered by NoderIotSys</small>
    <small>IOT智能宿舍</small>
  </div>
</div>
</body>
</html>